@import '../../css/variables.scss';

.wrapper{
  width: 872px;
}

.input{
  width: 100%;
  & > div > div {
    width: 480px;
  }
}

.buttons{
  display: flex;
  justify-content: flex-end;
  opacity: 0;
}

.visible{
  opacity: 1;
  transition: opacity .5s;
}