@import '../../css/variables.scss';

.content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 536px);
}

.empty_ingredients {
  height: calc(100vh - 536px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $modal-bg;
  outline: 2px dashed $input;
  border-radius: 40px;
  cursor: default;
}

.ingredients_dropzone {
  outline: 2px dashed transparent;
  &_hover {
    outline: 2px dashed #fff;
    border-radius: 40px;
    transition: outline-color 0.5s;
  }
}

.track_vertical {
  position: absolute;
  background-color: $input;
  width: 8px;
  top: 0;
  right: 0;
  height: 100%;
}

.thumb_vertical {
  width: 100%;
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: inherit;
  background-color: $secondary-text;
  transform: translateY(0px);
}
