@import '../../css/variables.scss';

.wrapper {
  height: 100%;
}

.content {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  height: calc(100vh - 88px);
}

.loading {
  @extend .content;
  align-items: center;
  justify-content: center;
}
