.details_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  width: 560px;
}

.ingredient_img {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.parameters {
  display: flex;
  column-gap: 20px;
}

.parameters p {
  min-width: 112px;
}

.visible{
  opacity: 1;
  transition: opacity 1s;
}

.hidden {
  opacity: 0;
}
