@import '../../css/variables.scss';

.header {
  background-color: $modal-bg;
  min-width: 1280px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}

.header_left {
  flex-basis: 40%;
  display: flex;
}

.header_right {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  align-content: center;
}

.nav_button {
  text-decoration: none;
  display: flex;
  align-content: center;
}

.nav_button {
  text-decoration: none;
  display: flex;
  align-content: center;
  color: $secondary-text;
  transition: color .5s;
  & svg{
    fill: $secondary-text;
    transition: fill .5s;
  }
  &:hover {
    color: $standart-text;
    transition: color 0.5s;
    & svg {
      fill: $standart-text;
      transition: fill 0.5s;
    }
  }
}

.active {
  color: $standart-text;
  & svg{
    fill: $standart-text;
  }
}